.contact {
	position: relative;

	&__info {
		padding: 3rem 1rem;
		align-self: center;

		@include below (sm) {
			width: 100%;
			margin-top: 3rem;
		}

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $black;
			}
		}

		@include above (sm) {
			padding: 6rem 3rem;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 2rem;
		line-height: 1;
	}
}