.header {
	position: absolute;
	padding-top: 1rem;
	padding-bottom: 1rem;
	top: 0;
	width: 100%;

	&__logo {
		display: block;
		float: left;

		img {
			width: 200px;
			height: 31px;

			@include above (sm) {
				width: 240px;
				height: 38px;
			}

			@include above (md) {
				width: 288px;
				height: 45px;
			}
		}
	}
}