.page {

	&__hero {
		padding-top: 3rem;
		background: no-repeat center center;
		background-size: cover;
		background-attachment: fixed; 

		@include above (sm) {
			padding-top: 15rem;
			padding-bottom: 15rem;
		}
	}

	&__container {
		position: relative;
	}

	&__title {
		color: $white;
		margin-bottom: 3rem;
	}

	&__text {
		background: $black;
		color: $white;
		position: relative;
		padding: 1.5rem;
		padding-left: 0;

		@include below (sm) {
			margin-bottom: 3rem;
		}

		p {
			margin-bottom: 0;
		}

		&:before {
			content: '';
			position: absolute;
			width: 100vw;
			right: 100%;
			height: 100%;
			top: 0;
			background: $black;
		}

		@include above (sm) {
			width: 40%;
		}
	}

	&__product {

		@include above (sm) {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
