.variants {
	
	&--blue {
		
		.variants__title {
			color: $white;
		}

		.btn {
			@extend .btn--black;
		}
	}

	&--none {
		
		.variants__title {
			color: $black;
		}

		.btn {

			@extend .btn--blue;
		}
	}

	&__title {
		margin-top: 0;
		color: $blue;
		margin-bottom: 2rem;
		line-height: 1;
	}

	&__btn {
		margin-right: 1rem;
	}

	&__product-featured {

		@include below (sm) {
			margin-top: 3rem;
		}
	}
}