h1, .h1 {

  @include above (sm) {
    font-size: 55px;     
  }

  @include above (md) {
    font-size: 60px;
  }

  @include above (lg) {
    font-size: 80px;      
  }
}

h2, .h2 {
  

  @include above(sm) {
    font-size: 50px;
  }
}

h3, .h3 {
  font-size: 25px;

  @include above(sm) {
    font-size: 40px;
  }
}

h4, .h4 {
  font-size: 22px;

  @include above(sm) {

  }
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
}


// Change headings font if a heading font is set
@if $font-headings != null {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $font-headings;
  }
}